@import './common.scss';
@import './ypy.scss';


#banner{
 width: 300px;
 height: 600px;
}
 



#legalBtn{	
	@include pos(220, 0);	
	width: 72px;
	// opacity: 1;
}

 

.logo{		
	width: 82px;		
}
 

 
#olg{
	width: 87px;
	height: 49px;
	@include pos(0, 555);
	// opacity: .5 !important;
	
}