 

#bg, #logo_olg{
	transform-origin: 0% 100%;
}

svg{
	overflow: visible;
}

 

//  #svg_idle #olg_bg, #svg_idle .con{
// 	transform: translate(0px, 40px) scale(1);	
// }


  #olg_bg, .con{
	transform: translate(0px, 40px) ;	
}
