<div id="legalBtn"></div>
<div id="legalContent">
  Individuals must be 18+ to participate in in-store sports betting with PROLINE. Individuals must be a resident of
  Ontario. Product is not exactly as shown.
</div>
